
{% extends "layout.html" %}




{% block content %}

<div class="container text-center">
    <div class="row">
      <div class="col-sm-8">
<div class="container mt-5">

  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">¡Registro Exitoso!</h4>
    <p>El departamento ha sido registrado satisfactoriamente.</p>
    <hr />
    <p class="mb-0">Gracias por tu participación.</p>
  </div>
</div>


      </div>
      <div class="col-sm-4">col-sm-4</div>
    </div>

{% endblock %}